<section class="home text-center ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="./assets/avataaars.svg" alt="avatar" class="mb-3">
                <h1 class="text-white fw-bold">START FRAMEWORK</h1>
                <div class="d-flex align-items-center justify-content-center mb-3 ">
                    <div  class="line me-3"></div>
                    <i class="fa-solid fa-star fa-1x text-white"></i>
                    <div  class="line ms-3"></div>
                    
                </div>
                <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
    
    </section>